<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wteammall.iot.wteammall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserModule.RegisterActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserModule.LoginActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserModule.PersionalCenter.PersonalCenterActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserModule.PersionalCenter.PersionInformationActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserModule.PersionalCenter.PersionMessageActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserModule.PersionalCenter.PersionCouponActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserModule.PersionalCenter.PersionOrderActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".UserModule.ResetPassActivity" />
        <activity android:name=".UserModule.PersionalCenter.PersionIntegralActivity" />
        <activity android:name=".UserModule.PersionalCenter.ChangPassActivity" />
        <activity android:name=".UserModule.PersionalCenter.PersionTaskActivity"></activity>
        <activity android:name=".UserModule.PersionalCenter.CheckEmailActivity"></activity>
    </application>

</manifest>